<!doctype html>
<html class="no-js" lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <c-title/>
    <c-description/>
    <meta name="author" lang="en" content="calgarychess.com">
    <meta name="dcterms.dateCopyrighted" content="2020">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="./chesskit/css/master/chesskit-position.min.css">
    <link rel="stylesheet" href="./chesskit/css/master/chesskit-xtable.min.css">
    <link rel="stylesheet" href="./chesskit/css/master/chesskit-master.min.css">
    <link rel="stylesheet" href="./chesskit/css/master/chesskit-ui.min.css">

    <link rel="stylesheet" href="./css/styles.min.css">

  </head>


  <body>

    <!--[if lt IE 11]><div class="message message__error">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div><![endif]-->


    <!-- PROGRESS -->
    <div class="progress"></div>
    <!-- PROGRESS -->


    <!-- OVERLAY -->
    <div class="overlay"></div>
    <!-- OVERLAY -->


    <!-- RESPONSIVE -->
    <div class="responsive">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round">
        <line x1="3" y1="12" x2="21" y2="12" />
        <line x1="3" y1="6" x2="21" y2="6" />
        <line x1="3" y1="18" x2="21" y2="18" />
      </svg>
    </div>
    <!-- RESPONSIVE -->


    <!-- HEADER -->
    <header id="banner">
      <p-header/>
    </header>
    <!-- HEADER -->


    <!-- CONTAINER -->
    <div id="container" class="container">

      <!-- ASIDE -->
      <aside id="sidebar" class="sidebar">
        <p-sidebar/>
      </aside>
      <!-- ASIDE -->


      <!-- MAIN -->
      <main>

        <!-- CONTENT -->
        <section id="content">
          <if(input.body)>
            <${input.body}/>
          </if>
          <else>
            DEFAULT BODY CONTENT
          </else>
        </section>
        <!-- ./ CONTENT -->


        <!-- FOOTER -->
        <footer id="footer">
          <p-footer/>
        </footer>
        <!-- FOOTER -->

      </main>
      <!-- ./ MAIN -->


      <!-- SPONSORS -->
      <div class="sponsors">
        <p-sponsors/>
      </div>
      <!-- SPONSORS -->

    </div>
    <!-- ./ CONTAINER -->




    <script src="./js/vendor/webfontloader-1.6.28.js"></script>
    <script src="./js/common/webfontloader.min.js"></script>
    <script src="./js/lib/lib.min.js"></script>
    <script src="./js/common/pwa.min.js"></script>

    <script src="./js/vendor/flatpickr-4.3.2.min.js"></script>
    <script src="./js/vendor/leaflet-1.4.0.min.js"></script>
    <script src="./js/common/flatpickr.min.js"></script>
    <script src="./js/common/leaflet.min.js"></script>

    <script src="./js/lib/sticky.min.js"></script>
    <script src="./chesskit/js/chesskit-xtable-0.0.1.min.js"></script>
    <script src="./chesskit/js/chesskit-xtable.min.js"></script>
    <script src="./chesskit/js/chesskit-ui-0.0.1.min.js"></script>
    <script src="./chesskit/js/chesskit-ui.min.js"></script>

    <script src="./js/common/position.min.js"></script>

  </body>

</html>
